body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  header {
    padding: 20px 0;
  }
  
  h1 {
    font-family: 'Noto Serif', serif;
    font-size: 42px;
    color: #333;
  }
  
  h2 {
    font-size: 28px;
    color: #555;
  }
  
  .lyrics {
    font-size: 18px;
    color: #777;
    margin: 40px 0;
  }
  
  em {
    font-style: italic;
    font-weight: bold;
    color: #111;
  }
  
  footer {
    padding: 20px 0;
    font-size:
  